<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
      <h1 class="display-3">Web blog de Organización y Gestión Empresarial</h1>
      <p class="lead"></p>
      <!-- <p> Web blog de Organización y Gestión Empresarial</p> -->
      <hr>
      <p> <i> Una app donde se publican algunas cosas sobre como lidiar con el ordenamiento mas eficiente de los recursos, su funcionamiento y la precisión necesaria para satisfacer los objetivos de cualquier negocio; usando para esto las herramientas que ofrescan los mejores resultados.</i></p>
      <h6 align="center">By: Larry González</h6>
    </div>
  </div>
<div class="container">
  <!-- <p> <i> Una app donde se publican algunas cosas sobre como lidiar con el ordenamiento mas eficiente de los recursos, su funcionamiento y la precisión necesaria para satisfacer los objetivos de cualquier negocio; usando para esto las herramientas que ofrescan los mejores resultados.</i></p>
    <h6 align="center">By: Larry González</h6> -->
</div>